body {
  background: #fff;
  color: #666666;
  font-size: 14px;
}

.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
      border: 1px solid #000;
  margin-top: 10%;
}

.form-module .form {
  padding: 40px;
}

.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
}
input:focus, select:focus {
  border: 1px solid #666;
  color: #333333;
}
.form-module button {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px
}

.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}

.date {
  padding-top: 3px;
  padding-bottom: 4px;
  padding-right: 0px;
  padding-left: 3px;
  font-family: inherit;
  background-color: white;
  width: 200px;
    border: 1px solid #d9d9d9;
    outline: none;
  margin-left: 15px;
}

.dropdown{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 5px;
  background-color: white;
  width: 200px;
    border: 1px solid #d9d9d9;
    outline: none;
  margin-left: 15px;
}

.title_heatmap{
  margin: 12px 0px 3px 0px;
  color: black;
  font-weight: 600;
}

.form_heatmap {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  border: 1px solid #000;
  background-color: white;
  text-align: left;
  margin-top: 40px;
}

.submit {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px
}

.cement_type{
  margin-left: 15px;
}
.dis_pen{
  margin-left: 15px;
}

main.content {
  background-image: url("../img/background.jpg");
}

.form_wrap{
  text-align: center;
}

#heatmap {
  height: 100%; width: 100%;
}

#sign-out{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;  
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--color-accent);

  /* Hide */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

#sign-out .is-shown {
  visibility: visible;
  opacity: 1;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

/* LOADER 2 */

.loader span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

.loader span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

.loader span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {
  0%, 75%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

#err, #logout {
  text-align: center;
}

h2.login{
  color: green;
  font-size: 32px;
  margin-top: 64px;
  margin-bottom: 16px;
}

a.login{
  color: red;
}